{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main_app/css/main_app.css' %}">
    <script src="https://kit.fontawesome.com/ec3542b367.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'main_app/img/icon.png' %}">

</head>
<body>
    <aside>
        <span class= "logo"> Логотип </span>
        <h3> Навигация</h3>
        <ul>
            <a href="{% url 'main_page'%}"><li><i class="fa-solid fa-house"></i> Главная страница</li></a>
            <a href="{% url 'my_tasks'%}"><li><i class="fa-solid fa-list-check"></i> Мои задачи</li></a>
            <a href="{% url 'my_profile'%}"><li><i class="fa-solid fa-user"></i> Мой профиль</li></a>
            <a href="{% url 'reg' %}"><li><i class="fa-solid fa-user"></i> Регистрация</li></a>
            <a href="{% url 'login' %}"><li><i class="fa-solid fa-user"></i> Войти </li> </a>
        </ul>

    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>